USE [master]
GO
/****** Object:  Database [JetApp]    Script Date: 29-11-2024 10:56:19 ******/
CREATE DATABASE [JetApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JetApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\JetApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JetApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\JetApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JetApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JetApp]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 29-11-2024 10:56:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](45) NOT NULL,
	[Password] [varchar](45) NOT NULL,
	[Roles] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[Checklogin]    Script Date: 29-11-2024 10:56:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Checklogin]
 @UserName VARCHAR(45),
 @Password VARCHAR(45)
AS
BEGIN
    -- Select the role for the given username and password
    SELECT Roles
    FROM Login
    WHERE UserName = @UserName AND Password = @Password;
END;
GO
USE [master]
GO
